.title h6 {
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  color: #2779a7;
}
.title h3 {
  font-size: 40px;
  margin-bottom: 30px;
}
.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: "+";
  background-image: none;
  transition: transform 0.5s ease-in-out;
  font-size: 24px;
  margin-top: -25px;
}

.accordion-button:not(.collapsed)::after {
  content: "-";
  background-image: none;
  transform: rotate(0deg);
  font-size: 80px;
  margin-top: -75px;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  background-color: #2779a7;
  color: #fff;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-body {
  color: #ffffff !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  background-color: #2779a7;
}
.accordion-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 20px;
}
/* 
.accordion-header button{
  font-size: 24px !important;
} */
