.doctor-card {
  margin: 15px;
  padding: 7px;
}
.icon-setup {
  width: 20%;
  margin-left: auto;
}
.icon-setup i {
  padding: 15px;
  margin: 5px;
  background-color: #2779a7;
  cursor: pointer;
  color: #ffffff;
}
.icon-setup i:hover {
  background-color: #d14836;
  transition: 0.5s;
}
.about-doctor {
  background-color: #ffffff;
  border-left: 10px solid #2779a7;
  transform: scaleX(0);
  transition: 0.4s all linear;
  visibility: hidden;
  opacity: 0;
  transform-origin: left;
  padding: 15px 0;
}
.doctor-card:hover .about-doctor {
  transform: scaleX(1);
  opacity: 1;
  visibility: visible;
}

.card-img-overlay {
  padding: 19px;
}

@media only screen and (max-width: 600px) {
  .doctor-card {
    margin: 0;
    padding: 0;
    border: none;
  }
  .about-doctor {
    display: block;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  .doctor-card {
    margin: 0;
    padding: 0;
    border: none;
  }
  .icon-setup {
    width: 35%;
  }
  .about-doctor {
    display: block;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1281px) {
  .doctor-card {
    margin: 10px;
    padding: 5px;
  }
  .icon-setup {
    width: 30%;
  }
}
