.progres {
  background: #ecf2ff;
  max-height: 100vh;
}
.progres-title h4 {
  font-size: 16px;
  color: #2779a7;
}
.progres-title h2 {
  font-size: 50px;
  font-weight: 500;
}
.progres-title p {
  font-weight: 400;
  color: #3a3a3a;
  margin: 10px 0;
}
.progress-img {
  overflow: hidden;
}
.progress-img img {
  object-fit: cover;
}