.single-doctor-header {
  background-image: url("../../images/ki-14-1.jpg");
  background-color: #ecf2ff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-text {
  padding: 8rem 0;
}

.header-text h1 {
  font-size: 48px;
  font-weight: 400;
}

.single-doctor-body {
  margin: 5rem 0;
}

.opning-time2 {
  background-color: #fef6f6;
  padding: 30px 20px;
  margin: 0 1rem;
}

.opning-time2 td {
  color: black;
}
.time2 {
  color: black;
  padding-left: 11px;
  font-size: 30px;
  font-family: auto;
  letter-spacing: 1px;
}

.service-card-icon2 {
  background-color: #fef6f6;
  padding: 1rem;
  width: 30%;
  margin-right: auto;
}

.service-card-icon2 i {
  color: black;
}

.service-card-icon2:hover {
  animation: zoom-in-zoom-out 1s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}

.table-data2 {
  padding: 19px 4px;
}

.about-doctor2 {
  background-color: #ffffff;
  border-left: 5px solid #7093e5;
  padding: 15px 10px;
}

.about-doctor2 h2 {
  font-weight: 400;
}

.about-doctor2 h5 {
  color: #f68685;
}

.contact2 {
  background-color: #eef3ff;
  padding: 30px 20px;
  margin: 1rem 1rem;
}

.contact2 h2 {
  font-weight: 400;
  margin: 20px 0;
}

.contact2 .info {
  margin-bottom: 30px;
}

.contact2 p {
  color: #7283a2;
}

.contact-nav a {
  margin-right: 10px;
}

.contact-nav a:hover {
  color: #fef6f6;
}

.contact-nav a:first-child {
  background-color: #4867aa;
  color: #fef6f6;
  padding: 10px 7px;
}

.contact-nav a:nth-child(2) {
  background-color: #3eb5ec;
  color: #fef6f6;
  padding: 10px 7px;
}

.contact-nav a:nth-child(3) {
  background-color: crimson;
  color: #fef6f6;
  padding: 10px 7px;
}

.contact-nav a:last-child {
  background-color: #0270ad;
  color: #fef6f6;
  padding: 10px;
}

.single-doctor-right h1,
h4 {
  font-weight: 400;
}

.single-doctor-right p {
  color: #7283a2;
  margin: 20px 0 30px 0;
  text-align: justify;
}

.award-setup {
  border: 1px solid rgb(238, 236, 236);
  padding: 15px 20px;
  margin: 20px 0 0 0;
}
.award-setup i {
  color: #7093e5;
}

.single-doctor-right-footer {
  margin: 5rem 0 0 0;
}
.single-doctor-right-footer h6 {
  color: #7093e5;
}
.single-doctor-right-footer h2 {
  font-weight: 400;
  margin: 10px 0 30px 0;
}
.Skillset p {
  margin: 0 0 10px 0;
}

.loder-app {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.918);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .opning-time2,
  .contact2 {
    display: none;
  }
  .HonorsandAwards {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 769) and (max-width: 992px) {
  .opning-time2,
  .contact2 {
    display: none;
  }
  .HonorsandAwards {
    margin-bottom: 50px;
  }
}
