.appointment_container {
  padding: 50px;
  margin: 0 50px;
  background-color: #7093e52d;
  border-radius: 4px;
}
.input-field-name,
.service-doctor-shift,
.description-box {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #D14836;
}

.input-field-name:focus-visible,
.service-doctor-shift:focus-visible,
.description-box:focus-visible {
  border: 1px solid #2779a7;
  outline: none;
}

.service-doctor:focus-visible {
  border: 1px solid #2779a7;
  outline: none;
}
.service-doctor {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #D14836;
}

.appointment {
  font-weight: 600;
}

.pulse:hover,
.pulse:focus {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #D14836;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #D14836;
  }
}

button.pulse {
  color: #2779a7;
  transition: 0.25s;
}
button.pulse:hover,
button.pulse:focus {
  border-color: #D14836;
  color: #D14836;
}
button.pulse {
  background: none;
  border: 2px solid;
  line-height: 1;
  font-size: 16px;
  margin: 30px 12px;
  padding: 1em 2em;
  width: 250px;
  font-weight: 600;
  text-transform: uppercase;
}

.input-field-name{
  font-size: 16px;
  color: #3a3a3a;
}